@use "sass:map";
/* ---- SCSS-Staff ---- */
$loc-typo-Lib: (
  "TitleSmall": (
    "lineHeight": 20pt,
    "size": 14pt,
    "weight": 500,
    "tracking": 0.1pt,
  ),
  "LabelLarge": (
    "lineHeight": 20pt,
    "size": 14pt,
    "weight": 500,
    "tracking": 0.1pt,
  ),
  "LabelMedium": (
    "lineHeight": 16pt,
    "size": 12pt,
    "weight": 500,
    "tracking": 0.5pt,
  ),
);

@mixin _privateApplyFont($fontStyle) {
  $loc-FontLib: map.get($loc-typo-Lib, $fontStyle);

  font-size: map.get($loc-FontLib, "size");
  line-height: map.get($loc-FontLib, "lineHeight");
  font-weight: map.get($loc-FontLib, "weight");
  letter-spacing: map.get($loc-FontLib, "tracking");
}

@mixin typo-TitleSmall {
  @include _privateApplyFont("TitleSmall");
}

@mixin typo-LabelLarge {
  @include _privateApplyFont("LabelLarge");
}

@mixin typo-LabelMedium {
  @include _privateApplyFont("LabelMedium");
}
/* --------------- */

/* ---- General ---- */
:root {
  // light theme colors
  --md-sys-color-background-light: rgb(248, 249, 255);
  --md-sys-color-on-background-light: rgb(25 28 32);
  --md-sys-color-surface-light: rgb(248 249 255);
  --md-sys-color-on-surface-variant-light: rgb(67 71 78);
  --md-sys-color-on-secondary-container-light: rgb(16 28 43);
  --md-sys-color-outline-light: rgb(115 119 127);
  --md-sys-color-secondary-container-light: rgb(215 227 248);
  --md-sys-color-surface-container-light: rgb(236 238 244);
  --md-sys-color-surface-container-high-light: rgb(230 232 238);

  // dark theme colors
  --md-sys-color-background-dark: rgb(17 20 24);
  --md-sys-color-on-background-dark: rgb(225 226 232);
  --md-sys-color-surface-dark: rgb(17 20 24);
  --md-sys-color-on-surface-variant-dark: rgb(195 198 207);
  --md-sys-color-on-secondary-container-dark: rgb(215 227 248);
  --md-sys-color-outline-dark: rgb(141 145 153);
  --md-sys-color-secondary-container-dark: rgb(59 72 88);
  --md-sys-color-surface-container-dark: rgb(29 32 36);
  --md-sys-color-surface-container-high-dark: rgb(39 42 47);

  // theme colors
  --md-sys-color-background: light-dark(
    var(--md-sys-color-background-light),
    var(--md-sys-color-background-dark)
  );
  --md-sys-color-on-background: light-dark(
    var(--md-sys-color-on-background-light),
    var(--md-sys-color-on-background-dark)
  );
  --md-sys-color-surface: light-dark(
    var(--md-sys-color-surface-light),
    var(--md-sys-color-surface-dark)
  );
  --md-sys-color-on-surface-variant: light-dark(
    var(--md-sys-color-on-surface-variant-light),
    var(--md-sys-color-on-surface-variant-dark)
  );
  --md-sys-color-on-secondary-container: light-dark(
    var(--md-sys-color-on-secondary-container-light),
    var(--md-sys-color-on-secondary-container-dark)
  );
  --md-sys-color-outline: light-dark(
    var(--md-sys-color-outline-light),
    var(--md-sys-color-outline-dark)
  );
  --md-sys-color-secondary-container: light-dark(
    var(--md-sys-color-secondary-container-light),
    var(--md-sys-color-secondary-container-dark)
  );
  --md-sys-color-surface-container: light-dark(
    var(--md-sys-color-surface-container-light),
    var(--md-sys-color-surface-container-dark)
  );
  --md-sys-color-surface-container-high: light-dark(
    var(--md-sys-color-surface-container-high-light),
    var(--md-sys-color-surface-container-high-dark)
  );

  color-scheme: light dark;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
}

.wrapper {
}
/* --------------- */

/* ---- Container ---- */
.main__container {
  max-width: 850px;
}
.navDrawer__container {
  max-width: 360px;
}
/* --------------- */

/* ---- Main ---- */

/* ---------------- */
